In [ ]:
!pip install sqlalchemy

In [ ]:
!pip install pymysql

In [1]:
import sqlalchemy
from sqlalchemy import text
import numpy
import pandas as pd
import warnings
#warnings.filterwarnings('ignore')

In [2]:
# Crear cadena de conexión a la base de datos
userdb = "root"
password = ""
bdname = "latlonregister"
engine_mysql = sqlalchemy.create_engine('mysql+pymysql://'+userdb+':'+password+'@localhost:3306/'+bdname)

In [3]:
print("connecting with engine " + str(engine_mysql))

connecting with engine Engine(mysql+pymysql://root:***@localhost:3306/latlonregister)

In [4]:
#Ver tablas de la base de datos
sqlalchemy.inspect(engine_mysql).get_table_names()

['failed_jobs',
 'migrations',
 'password_resets',
 'personal_access_tokens',
 'report_types',
 'reports',
 'users']

In [5]:
con_mysql = engine_mysql.connect()

In [6]:
# Consulta SQL Simple.
query = text("SELECT * FROM reports")
df_mysql = pd.read_sql_query(query, con_mysql)
df_mysql

,id,latitude,longitude,report_type_id,user_id,created_at,updated_at
0,10,-6.770421161832853,-79.85801585018635,1,1,2023-04-09 20:13:19,2023-04-09 20:13:19
1,11,-6.773447226547528,-79.86441727727652,1,1,2023-04-09 20:13:50,2023-04-09 20:13:50
2,12,-6.817543577487996,-79.90959037095308,3,1,2023-04-02 00:00:00,2023-04-09 20:14:09
3,13,-6.8195343479963935,-79.91042219102383,3,1,2023-03-01 20:14:28,2023-04-09 20:14:28
4,14,-6.8170994814002075,-79.9095494672656,2,1,2023-04-09 20:14:46,2023-04-09 20:14:46
5,15,-6.818006981662592,-79.908675737679,2,1,2023-04-09 20:15:00,2023-04-09 20:15:00
6,16,-6.818636837767628,-79.91050936281681,1,1,2023-04-09 20:15:15,2023-04-09 20:15:15
7,17,-6.818243344251491,-79.90931913256645,1,1,2023-04-09 20:15:30,2023-04-09 20:15:30
8,18,-6.82057500500686,-79.91456486284733,3,1,2023-01-09 20:15:53,2023-04-09 20:15:53
9,19,-6.822884349996557,-79.90739397704601,3,1,2023-02-09 20:16:05,2023-04-09 20:16:05

In [12]:
query = text("SELECT latitude, longitude, b.name as TipoReporte, a.created_at as Fecha FROM reports a LEFT JOIN report_types b ON a.report_type_id=b.id")
df_mysql = pd.read_sql_query(query, con_mysql)
df_mysql

,latitude,longitude,TipoReporte,Fecha
0,-6.770421161832853,-79.85801585018635,Inundación,2023-04-09 20:13:19
1,-6.773447226547528,-79.86441727727652,Inundación,2023-04-09 20:13:50
2,-6.818636837767628,-79.91050936281681,Inundación,2023-04-09 20:15:15
3,-6.818243344251491,-79.90931913256645,Inundación,2023-04-09 20:15:30
4,-6.8170994814002075,-79.9095494672656,Desagüe Colapsado,2023-04-09 20:14:46
5,-6.818006981662592,-79.908675737679,Desagüe Colapsado,2023-04-09 20:15:00
6,-6.817543577487996,-79.90959037095308,Robo,2023-04-02 00:00:00
7,-6.8195343479963935,-79.91042219102383,Robo,2023-03-01 20:14:28
8,-6.82057500500686,-79.91456486284733,Robo,2023-01-09 20:15:53
9,-6.822884349996557,-79.90739397704601,Robo,2023-02-09 20:16:05

In [13]:
df_mysql.dtypes

latitude               object
longitude              object
TipoReporte            object
Fecha          datetime64[ns]
dtype: object

In [16]:
# No aplico conversión de object a float porque le quita decimales.
#df_mysql.latitude = df_mysql.latitude.astype(float)
#df_mysql.longitude = df_mysql.longitude.astype(float)

In [17]:
df_mysql

,latitude,longitude,TipoReporte,Fecha
0,-6.770421161832853,-79.85801585018635,Inundación,2023-04-09 20:13:19
1,-6.773447226547528,-79.86441727727652,Inundación,2023-04-09 20:13:50
2,-6.818636837767628,-79.91050936281681,Inundación,2023-04-09 20:15:15
3,-6.818243344251491,-79.90931913256645,Inundación,2023-04-09 20:15:30
4,-6.8170994814002075,-79.9095494672656,Desagüe Colapsado,2023-04-09 20:14:46
5,-6.818006981662592,-79.908675737679,Desagüe Colapsado,2023-04-09 20:15:00
6,-6.817543577487996,-79.90959037095308,Robo,2023-04-02 00:00:00
7,-6.8195343479963935,-79.91042219102383,Robo,2023-03-01 20:14:28
8,-6.82057500500686,-79.91456486284733,Robo,2023-01-09 20:15:53
9,-6.822884349996557,-79.90739397704601,Robo,2023-02-09 20:16:05

In [18]:
df_mysql.dtypes

latitude               object
longitude              object
TipoReporte            object
Fecha          datetime64[ns]
dtype: object

### Crear Mapa de calor con Folium

In [19]:
from folium import Map, Marker, Popup
from folium.plugins import HeatMap

In [20]:
# Hacer un mapa fijo de interes
hmap = Map(location=[-6.7818639, -79.8490405], zoom_start=8,) #Chiclayo

In [21]:
# Agregar puntos de calor
hm_wide = HeatMap(
    list(zip(df_mysql.latitude.values, df_mysql.longitude.values)),
    min_opacity=0.2,
    radius=17, 
    blur=15, 
    max_zoom=1,
)

In [22]:
hmap.add_child(hm_wide)

### Filtrado

In [23]:
import numpy as np
#1. Mostrar solo robos
df_mysql
df_robos = df_mysql.query("TipoReporte == 'Robo'")
df_robos

              latitude           longitude TipoReporte               Fecha
6   -6.817543577487996  -79.90959037095308        Robo 2023-04-02 00:00:00
7  -6.8195343479963935  -79.91042219102383        Robo 2023-03-01 20:14:28
8    -6.82057500500686  -79.91456486284733        Robo 2023-01-09 20:15:53
9   -6.822884349996557  -79.90739397704601        Robo 2023-02-09 20:16:05

In [28]:
# Hacer un mapa fijo de interes
hmap = Map(location=[-6.7818639, -79.8490405], zoom_start=8,) #Chiclayo

# Agregar puntos de calor
hm_wide = HeatMap(
    list(zip(df_robos.latitude.values, df_robos.longitude.values)),
    min_opacity=0.2,
    radius=17, 
    blur=15, 
    max_zoom=1,
)

# Agrgegar marcadores
for idx, row in df_robos.iterrows():
    # Obtener los valores de latitud y longitud de cada fila
    lat = row['latitude']
    lon = row['longitude']
    
    # Crear una cadena de texto con la descripción del punto
    descripcion = f"Fecha: {row['Fecha']}, Tipo: {row['TipoReporte']}"
    # Crear el marcador y agregarlo al mapa
    Marker([lat, lon], popup=descripcion, clustered_marker=True).add_to(hmap)
    
    
hmap.add_child(hm_wide)

In [41]:
df_mysql

,latitude,longitude,TipoReporte,Fecha
0,-6.770421161832853,-79.85801585018635,Inundación,2023-04-09 20:13:19
1,-6.773447226547528,-79.86441727727652,Inundación,2023-04-09 20:13:50
2,-6.818636837767628,-79.91050936281681,Inundación,2023-04-09 20:15:15
3,-6.818243344251491,-79.90931913256645,Inundación,2023-04-09 20:15:30
4,-6.8170994814002075,-79.9095494672656,Desagüe Colapsado,2023-04-09 20:14:46
5,-6.818006981662592,-79.908675737679,Desagüe Colapsado,2023-04-09 20:15:00
6,-6.817543577487996,-79.90959037095308,Robo,2023-04-02 00:00:00
7,-6.8195343479963935,-79.91042219102383,Robo,2023-03-01 20:14:28
8,-6.82057500500686,-79.91456486284733,Robo,2023-01-09 20:15:53
9,-6.822884349996557,-79.90739397704601,Robo,2023-02-09 20:16:05

In [58]:
# Filtrar a partir de la fecha de reporte
# Paso 1. Remover el tiempo de la columna Fecha.
df_mysql["Fecha"] =  pd.to_datetime(df_mysql['Fecha']).dt.date
df_robos = df_mysql.copy()
df_mysql

              latitude           longitude        TipoReporte       Fecha
0   -6.770421161832853  -79.85801585018635         Inundación  2023-04-09
1   -6.773447226547528  -79.86441727727652         Inundación  2023-04-09
2   -6.818636837767628  -79.91050936281681         Inundación  2023-04-09
3   -6.818243344251491  -79.90931913256645         Inundación  2023-04-09
4  -6.8170994814002075   -79.9095494672656  Desagüe Colapsado  2023-04-09
5   -6.818006981662592    -79.908675737679  Desagüe Colapsado  2023-04-09
6   -6.817543577487996  -79.90959037095308               Robo  2023-04-02
7  -6.8195343479963935  -79.91042219102383               Robo  2023-03-01
8    -6.82057500500686  -79.91456486284733               Robo  2023-01-09
9   -6.822884349996557  -79.90739397704601               Robo  2023-02-09

In [60]:
# Obtener solo reportes de robos entre enero de 2023 y febrero de 2023:
from datetime import datetime

df_robos['Fecha'] = pd.to_datetime(df_robos['Fecha'])

fecha_inicio = datetime(2023, 1, 1)  #(año, mes, dia)
fecha_fin = datetime(2023, 2, 28) #(año, mes, dia)

df_robos = df_robos[(df_robos['Fecha'] >= fecha_inicio) & (df_robos['Fecha'] <= fecha_fin)]
df_robos

             latitude           longitude TipoReporte      Fecha
8   -6.82057500500686  -79.91456486284733        Robo 2023-01-09
9  -6.822884349996557  -79.90739397704601        Robo 2023-02-09

In [61]:
#Filtrar robos entre el 1 de enero de 2023 y 2 de abril de 2023
df_robos = df_mysql.copy()
df_mysql

              latitude           longitude        TipoReporte       Fecha
0   -6.770421161832853  -79.85801585018635         Inundación  2023-04-09
1   -6.773447226547528  -79.86441727727652         Inundación  2023-04-09
2   -6.818636837767628  -79.91050936281681         Inundación  2023-04-09
3   -6.818243344251491  -79.90931913256645         Inundación  2023-04-09
4  -6.8170994814002075   -79.9095494672656  Desagüe Colapsado  2023-04-09
5   -6.818006981662592    -79.908675737679  Desagüe Colapsado  2023-04-09
6   -6.817543577487996  -79.90959037095308               Robo  2023-04-02
7  -6.8195343479963935  -79.91042219102383               Robo  2023-03-01
8    -6.82057500500686  -79.91456486284733               Robo  2023-01-09
9   -6.822884349996557  -79.90739397704601               Robo  2023-02-09

In [62]:
df_robos['Fecha'] = pd.to_datetime(df_robos['Fecha'])

fecha_inicio = datetime(2023, 1, 1)  #(año, mes, dia)
fecha_fin = datetime(2023, 4, 2) #(año, mes, dia)

df_robos = df_robos[(df_robos['Fecha'] >= fecha_inicio) & (df_robos['Fecha'] <= fecha_fin)]
df_robos

              latitude           longitude TipoReporte      Fecha
6   -6.817543577487996  -79.90959037095308        Robo 2023-04-02
7  -6.8195343479963935  -79.91042219102383        Robo 2023-03-01
8    -6.82057500500686  -79.91456486284733        Robo 2023-01-09
9   -6.822884349996557  -79.90739397704601        Robo 2023-02-09

In [63]:
# Crear mapa
# Hacer un mapa fijo de interes
hmap = Map(location=[-6.7818639, -79.8490405], zoom_start=8,) #Chiclayo

# Agregar puntos de calor
hm_wide = HeatMap(
    list(zip(df_robos.latitude.values, df_robos.longitude.values)),
    min_opacity=0.2,
    radius=17, 
    blur=15, 
    max_zoom=1,
)

# Agrgegar marcadores
for idx, row in df_robos.iterrows():
    # Obtener los valores de latitud y longitud de cada fila
    lat = row['latitude']
    lon = row['longitude']
    
    # Crear una cadena de texto con la descripción del punto
    descripcion = f"Fecha: {row['Fecha']}, Tipo: {row['TipoReporte']}"
    # Crear el marcador y agregarlo al mapa
    Marker([lat, lon], popup=descripcion, clustered_marker=True).add_to(hmap)
      
hmap.add_child(hm_wide)

In [64]:
#Exportar mapa a HTML
mapFname = 'output.html'
hmap.save(mapFname)
print("done")

done