In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\fredd\pycharmprojects\entornoanalitica\venv\lib\site-packages (2.0.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\fredd\pycharmprojects\entornoanalitica\venv\lib\site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\fredd\pycharmprojects\entornoanalitica\venv\lib\site-packages (from sqlalchemy) (4.5.0)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     -------------------------------------- 43.7/43.7 kB 268.0 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
import sqlalchemy
from sqlalchemy import text
import numpy
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [6]:
# Crear cadena de conexi처n a la base de datos
userdb = "root"
password = ""
bdname = "latlonregister"
engine_mysql = sqlalchemy.create_engine('mysql+pymysql://'+userdb+':'+password+'@localhost:3306/'+bdname)

In [7]:
print("connecting with engine " + str(engine_mysql))

connecting with engine Engine(mysql+pymysql://root:***@localhost:3306/latlonregister)

In [11]:
#Ver tablas de la base de datos
sqlalchemy.inspect(engine_mysql).get_table_names()

['failed_jobs',
 'migrations',
 'password_resets',
 'personal_access_tokens',
 'report_types',
 'reports',
 'users']

In [24]:
# Consulta SQL Simple.
query = text("SELECT * FROM reports")
df_mysql = pd.read_sql_query(query, con_mysql)
df_mysql

,id,latitude,longitude,report_type_id,user_id,created_at,updated_at
0,3,-6.820930545655473,-6.820930545655473,1,1,2023-04-09 17:20:29,2023-04-09 17:20:29
1,4,-6.788097519282043,-6.788097519282043,1,1,2023-04-09 17:22:43,2023-04-09 17:22:43
2,5,-6.809578082405367,-6.809578082405367,2,1,2023-04-09 19:10:09,2023-04-09 19:10:09
3,6,-6.810335454306968,-6.810335454306968,2,1,2023-04-09 19:10:32,2023-04-09 19:10:32
4,7,-6.8200883000581465,-6.8200883000581465,3,1,2023-04-09 19:11:01,2023-04-09 19:11:01
5,8,-6.8186185280088205,-6.8186185280088205,3,1,2023-04-09 19:11:17,2023-04-09 19:11:17
6,9,-6.819193121197273,-6.819193121197273,3,1,2023-04-09 19:11:35,2023-04-09 19:11:35

In [25]:
query = text("SELECT latitude, longitude, name FROM reports a LEFT JOIN report_types b ON a.report_type_id=b.id")
df_mysql = pd.read_sql_query(query, con_mysql)
df_mysql

              latitude            longitude               name
0   -6.820930545655473   -6.820930545655473         Inundaci처n
1   -6.788097519282043   -6.788097519282043         Inundaci처n
2   -6.809578082405367   -6.809578082405367  Desag체e Colapsado
3   -6.810335454306968   -6.810335454306968  Desag체e Colapsado
4  -6.8200883000581465  -6.8200883000581465               Robo
5  -6.8186185280088205  -6.8186185280088205               Robo
6   -6.819193121197273   -6.819193121197273               Robo